Babel==2.2.0
PyYAML==3.11
argparse==1.2.1
cffi==1.5.0
cliff==1.15.0
cliff-tablib==2.0
cmd2==0.6.8
cryptography==1.2.1
enum34==1.1.2
functools32==3.2.3-2
idna==2.0
ipaddress==1.0.16
iso8601==0.1.11
jsonpatch==1.12
jsonpointer==1.10
jsonschema==2.5.1
msgpack-python==0.4.6
netaddr==0.7.18
netifaces==0.10.4
oslo.config==1.9.3
oslo.i18n==1.5.0
oslo.serialization==1.4.0
oslo.utils==1.4.2
pbr==0.11.1
prettytable==0.7.2
pyOpenSSL==0.15.1
pyasn1==0.1.9
pycparser==2.14
pyparsing==2.0.7
python-cinderclient==1.1.1
python-glanceclient==0.15.0
python-keystoneclient==1.2.0
python-neutronclient==2.3.11
python-novaclient==2.22.0
python-openstackclient==1.0.3
pytz==2015.7
requests==2.7.0
simplejson==3.8.1
six==1.10.0
stevedore==1.3.0
tablib==0.10.0
unicodecsv==0.14.1
warlock==1.2.0
wsgiref==0.1.2
